@import "tailwindcss";

@theme {
  --color-text-primary: var(--color-neutral-200);
  --color-text-primary-inactive: var(--color-neutral-500);

  --color-border: var(--color-neutral-600);

  --color-background: var(--color-neutral-950);
}
