<section class="px-6 py-12 pt-24 md:py-16 md:pt-32 max-w-6xl mx-auto">
  <p class="text-base md:text-lg text-gray-400 leading-relaxed">Website designed and created by Keez Eden</p>
  <p class="text-base md:text-lg text-gray-400 leading-relaxed">© 2025 all rights reserved.</p>
</section>
