---
import Link from "../components/Link.astro";
---

<section class="px-6 py-24 pt-32 md:py-48 md:pt-64 max-w-6xl mx-auto relative">
  <img
    src="/arrow.svg"
    class="hidden md:block absolute right-0 -top-20 rotate-[190deg] size-[200px] text-black overflow-hidden"
  />
  <img
    src="/crown.svg"
    class="absolute bottom-[38rem] right-1/2 transform translate-1/2 md:translate-0 md:right-0 md:-bottom-8 rotate-8 size-[160px] text-black overflow-hidden"
  />
  <div class="text-center pt-16 md:pt-0 md:text-left">
    <p class="text-3xl md:text-4xl max-w-2xl mb-8 md:mb-10 mx-auto md:mx-0">Hey! I'm Keez.</p>
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-semibold mb-12 md:mb-18 mx-auto md:mx-0">
      I'm a developer specialized in helping founders bring their ideas to life.
    </h1>
    <div class="flex justify-center md:justify-start">
      <Link href="mailto:keezeden@gmail.com">Get in Touch</Link>
    </div>
  </div>
</section>
