---
import Link from "../components/Link.astro";
---

<section class="px-6 py-48 pt-64 max-w-6xl mx-auto relative">
  <img src="/arrow.svg" class="absolute right-0 -top-20 rotate-[190deg] size-[200px] text-black overflow-hidden" />
  <img src="/crown.svg" class="absolute right-0 -bottom-20 rotate-8 size-[160px] text-black overflow-hidden" />
  <div class="">
    <p class="text-4xl max-w-2xl mb-10">Hey! I'm Keez.</p>
    <h1 class="text-5xl md:text-6xl font-semibold mb-18">
      I'm a developer specialized in helping founders bring their ideas to life.
    </h1>
    <!-- <p class="text-2xl max-w-2xl mb-16">I'm a developer specialized in helping founders bring their ideas to life.</p> -->
    <Link href="mailto:keez@example.com">Get in Touch</Link>
  </div>
</section>
